* {
    font-family: 'Roboto', sans-serif;
}

.menu {
    display: flex;
}

.menu a {
    margin-right: 5px;
}

.menu-login {
    margin-left: auto;
}

.users-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.users-list .users-card {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}

.users-list .users-card span {
    display: inline-block;
    max-width: 100px;
    width: 100px;
    font-size: 16px;
    word-break: break-word;
    text-align: center;

}

.users-list .users-card.title span{
    font-weight: bold;
    font-size: 20px;
}

.users-list .users-card .users-card__delete {
    color: crimson;
}

.users-list .users-card .users-card__edit {
    color: cornflowerblue;
}

.users-list .users-card .users-card__show {
    color: grey;
}

.users-list .users-card .users-card-status__confirmed {
    color: green;
}

.preloader {
    border-radius: 50%;
}

.preloader.active {
    position: absolute;
    top: 50%;
    left: 50%;

    animation: preload 5s ease-in 0s infinite alternate-reverse ;
}


@keyframes preload {
    from {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) rotate(270deg) scale(1.2);
    }
    to {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
}